<p>The VODs on this site come from the following YouTube channels. Thanks for uploading your VODs.</p>

<ul>
  {% for channel in channels %}
  <li><a href="{{channel.url}}">{{channel.name}}</a></li>
  {% endfor %}
</ul>

<p>If you know more channels that you would like to see added, feel free to DM <a href="https://discordapp.com/users/akbiggs">akbiggs</a> on Discord.</p>

<p>This site is <a href="https://www.github.com/akbiggs/vods2">built</a> with Python using <a href="https://flask.palletsprojects.com">Flask</a> and <a href="https://click.palletsprojects.com">Click</a>.</p>

<p>Thanks Wisp for contributing some <a href="https://github.com/akbiggs/vods2/pull/1">style improvements</a>. :)</p>

<p>Roadmap:</p>

<ul>
  <li>Add more VODs.</li>
  <li>Make the site look okay.</li>
  <li>Make the character order in the VODs table reflect the search order.</li>
</ul>