<!DOCTYPE html>
<head>
<title>Rivals 2 VODS</title>
<style>
body {
  margin-top: 20px;
  margin-left: 20px;
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
}

table, th, td {
  border:none;
  text-align: left;
}

.vodtable {
  border: 1px solid black;
  text-align: left;
}

.vodtable th, .vodtable td {
  border: 1px solid black;
}

.searchtable {
  border: none;
}

.searchtable input {
  width: 100px;
}

.searchtable p {
  margin: 0;
}

</style>
</head>

<body>
<h1>Search Results</h1>
{% include "vods_table.jinja2" %}

<h1>Credits</h1>

{% include "credits.jinja2" %}

</body>
