:root {
    --text-primary: black;
    --table-border: black;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-content: center;
}

body {
    margin-top: 20px;
    margin-left: 20px;
    font-family: sans-serif;
    background-color: Canvas;
    color: CanvasText;
    color-scheme: light dark;
    box-sizing: content-box;
}

.content-body {
    margin: 10px;
}

table, th, td {
    border: none;
    text-align: left;
}

.vodtable {
    border: 1px solid var(--text-primary);
    text-align: left;
    border-spacing: 0;
}

/* Each cell now only responsible for half its border, no double bordering. */
.vodtable th, .vodtable td {
    padding: 5px;
    border-bottom: 1px solid var(--text-primary);
    border-right: 1px solid var(--table-border);
}

.vodtable tr {
    height: 35px;
}

/* Last cell in each row, don't double border the table. */
.vodtable th:last-child, .vodtable td:last-child {
    border-right: 0;
}

/* Last row in table, don't double border the bottom */
.votdable tr:last-child th, .vodtable tr:last-child td {
    border-bottom: 0;
}

.search-form {
    margin: 10px;
}

.search-form .flex-row {
    height: 30px;
    margin-left: 10px;
    gap: 5px;
}

.search-form input {
    height: 20px;
}

.search-form select {
    height: 25px;
}

.search-form .search-label {
    width: 100px;
    text-align: right;
}

.searchtable input {
    width: 100px;
}

.searchtable p {
    margin: 0;
}

