<!DOCTYPE html>
<style>
body {
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
}
</style>
<p>Thanks for submitting your VOD. The VOD has been sent for moderator approval and should be available in a day or two.</p>