{% if vods %}
<table class="vodtable">
  <tr><th style="width:20%">Date</th><th>Match</th><th>Event</th></tr>
  {% for vod in vods %}
  <tr><td>{{vod.vod_date.strftime("%m/%d/%y") if vod.vod_date else ''}}</td><td><span><a href="{{vod.url}}"><img src="{{vod.c1_icon_url}}" width="24" height="24"/> {{vod.p1_tag}} vs. <img src="{{vod.c2_icon_url}}" width="24" height="24"/> {{vod.p2_tag}}</a></span></td><td>{{vod.event_name}} {% if vod.round %} ({{vod.round}}) {% endif %}</td></tr>
  {% endfor %}
</table>
{% else %}
No VODs found for this search.
{% endif %}
